/opt
/build
/bench

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
.ipynb_checkpoints

*.o
*.bc.o
*.o.bc
/results
/memcached/libevent/config.log
/redis/mesh
/rss.trace


# Make sure to avoid committihng SPEC. That would violate their license (oh no!)
SPEC2017.tar.gz
