ALASKA_SERVICE_NONE=y
# ALASKA_SERVICE_ANCHORAGE is not set
# ALASKA_SERVICE_CORDOVA is not set
# ALASKA_SERVICE_JEMALLOC is not set

#
# Debug
#
# ALASKA_SANITY_CHECK is not set
# ALASKA_DUMP_TRANSLATIONS is not set
# ALASKA_DUMP_FLOW_GRAPH is not set
# ALASKA_VERIFY_PASS is not set
# end of Debug

#
# Experimental
#
# ALASKA_COMPILER_TIMING is not set
# ALASKA_SWAP_SUPPORT is not set
# ALASKA_TRACK_TRANSLATION_HITRATE is not set
# ALASKA_ARGUMENT_TRACE is not set
# end of Experimental

ALASKA_SIZE_BITS=32
ALASKA_SQUEEZE_BITS=3
